/content/etc/apk/repositories
/content/root/.config/pip/pip.conf
/content/root/.pydistutils.cfg
/content/python-2.6.tar.xz
/content/python-2.6.tar.xz.asc
/content/python-3.5.tar.xz
/content/python-3.5.tar.xz.asc
